<div class="row">

  <div class="col-sm-6">
    <ul class="home">
      <h4><%= link_to "New Idea", new_idea_path %></h4>
      <h2><center>IDEA<center></h2>
      <hr>
      <% @ideas.each do |idea| %>
        <span class="rightSideNav">
          <% idea.users.each  do |user| %>
            <%= user.username %>
          <% end %>
        </span>
        <br>
        <li><%= link_to idea.title, "/ideas/index/#{idea.id}", id: "idea_link", remote: true %></a><br>
          <p><%= idea.summary %></p>
        <% if current_user != nil %>
          <span class="glyphicon glyphicon-arrow-up"></span>
          <%= link_to "Vote this Up!", new_vote_path %>

            <%= form_for @vote do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :idea_id, :value => idea.id %>
              <%= f.submit "Vote Up!", :class => "btn btn-primary btn-sm" %>
            <% end %>
          <% end %>
          <p> <%= link_to "Currently has: #{idea.votes.length}", idea_path(idea) %></p>
        <hr>
        </li>
      <% end %>
    </ul>
  </div>


  <div class="col-sm-6">
    <ul>
      <h4><%= link_to "New Video", new_video_path %></h4>
      <h2><center>VIDEO<center></h2>
      <hr>
      <div id="idea_videos">
        <%= render("videos") %>
      </div>
    </ul>
  </div>
</div>
