<div class="row">

  <div class="col-sm-6">
    <ul class="home">
      <h2><center>IDEA<center></h2>
      <hr>
      <% @ideas.each do |idea| %>
        <span class="rightSideNav">
          <% idea.users.each  do |user| %>
            <%= user.username %>
          <% end %>
        </span>
        <br>
        <li><a href="/ideas/index/<%= idea.id %>"><%= idea.title %></a><br>
          <p><%= idea.summary %></p>
          <%= form_for @vote do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :idea_id, :value => idea.id %>
            <%= f.submit"Vote Up!" %>
          <% end %>

        <hr>
        </li>
      <% end %>
    </ul>
  </div>


  <div class="col-sm-6">
    <ul>
      <h2><center>VIDEO<center></h2>
      <hr>
      <% @ideas.each do |idea| %>
        <% idea.videos.each do |video| %>
          <span class="rightSideNav">
            <%= video.user_id %>
          </span>
          <br>
            <iframe width="560" height="315" src=<%= "#{video.video_url}" %> frameborder="0" allowfullscreen></iframe>
          <hr>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
