<h1><%= @idea.title %></h1>
<h3><em><%= @idea.summary %></em></h3>
  <p><%= @idea.content %></p>
<h4>Past Votes</h4>
<span class="glyphicon glyphicon-arrow-up"></span>
<span class="fa fa-arrow-up"></span>
<span class="ionicons ion-ios7-arrow-up"></span>

<br />
<ul class="list">
  <% @idea.votes.each do |vote| %>
    <li><%= link_to vote.user.username, root_path %>
        <p> Time Voted: <%= vote.how_long %></P></li>
  <% end %>
</ul>

