<h1>Tags</h1>

<% @tags.each do |tag| %>
  <li><%= link_to tag.name, tag_path(tag) %></li>
<% end %>

<%= form_for @tag do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

